<div class="bg-teal-200 p-4 text-gray-800 rounded-lg shadow-lg transform hover:-rotate-2 hover:scale-105 transition-transform">
    <h3 class="font-bold mb-2">Nota 7</h3>
    <p><%= joke.text %></p>
</div>
